section.home {
  background-color: rgb(34, 34, 34);
  min-height: 100vh;
  padding: 0 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-top: 2rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;

    svg {
      font-size: 3rem;
    }

    position: relative;
    background-color: rgb(34, 34, 34);
    z-index: 1;
  }

  input {
    width: 100%;
    display: block;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-40px);

    &.active {
      transform: translateY(0);
    }

    &:focus {
      outline: none;
    }
  }

  main {
    position: relative;
    height: 67vh;
    overflow-y: overlay;
  }

  div.buttons {
    position: fixed;
    bottom: 0;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: 1rem 25%;
    align-items: center;
    width: 100%;
    background-color: rgb(34, 34, 34);
  }

  a {
    background-color: rgb(8, 87, 114);
    border-radius: 50%;
    padding: 1rem;
    border: none;
    z-index: 3;
    color: #fff;

    svg {
      font-size: 4rem;
    }
  }

  button {
    background-color: transparent;
    padding: 1rem;
    border: none;
    z-index: 3;
    color: rgb(207, 29, 38);

    svg {
      font-size: 4rem;
    }
  }
}
