section.home {
    background-color: rgb(34, 34, 34);
    min-height: 100vh;
    padding: 0 2rem;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding-top: 2rem;
        font-size: 2.5rem;
        margin-bottom: 1rem;

        svg {
            font-size: 3rem;
        }

        position: relative;
        background-color: rgb(34, 34, 34);
        z-index: 1;
    }

    input {
        width: 100%;
        display: inline-block;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        transition: all .5s ease-in-out;

        transform: translateY(-40px);

        &.active {
            transform: translateY(0);
        }

        &:focus {
            outline: none;
        }
    }

    main {
        position: relative
    }

    a {
        background-color: rgb(8, 87, 114);
        border-radius: 50%;
        padding: 1rem;
        border: none;
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 1rem;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;

        svg {
            font-size: 4rem;
        }
    }
}