main.login {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: darkslateblue;

  h1 {
    font-family: Manrope, sans-serif;
    text-align: center;
    color: white;
    font-size: 4.5rem;
    margin-bottom: 4rem;
  }

  &>img {
    display: block;
    width: 70%;
    margin: 0 auto 4rem;
  }

  &>em {
    display: block;
    margin: 2rem auto;
    text-align: center;
    font-style: normal;
    color: #fff;
    font-size: 1.6rem;

    a {
      color: #fff;
    }
  }
}