* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover,
button:hover {
  cursor: pointer;
}

input,
textarea,
button,
a {
  font-family: Montserrat, sans-serif;
}
